In [42]:
import requests
from time import sleep
from matplotlib import pyplot as plt
from bs4 import BeautifulSoup
from dateutil.parser import parse
import pandas as pd
from datetime import datetime, timezone

In [2]:
URL = "https://www.worldometers.info/coronavirus"

In [3]:
headers = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36"}
page = requests.get(URL, headers=headers, verify=False)
soup = BeautifulSoup(page.content, 'html.parser')

c:\users\dsaraph\appdata\local\programs\python\python37\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.worldometers.info'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,
c:\users\dsaraph\appdata\local\programs\python\python37\lib\site-packages\urllib3\connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.worldometers.info'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [4]:
cases = int(soup.find_all("div",{"class":"maincounter-number"})[0].span.get_text().strip().replace(",",""))
deaths = int(soup.find_all("div",{"class":"maincounter-number"})[1].span.get_text().strip().replace(",",""))
recoveries = int(soup.find_all("div",{"class":"maincounter-number"})[2].span.get_text().strip().replace(",",""))
mild_condition = int(soup.find_all("span",{"class":"number-table"})[0].get_text().strip().replace(",",""))

In [5]:
closed_cases = recoveries + deaths

In [6]:
active_cases = cases - recoveries - deaths

In [7]:
critical = active_cases - mild_condition

In [8]:
last_updated = soup.find("div", {"style":"font-size:13px; color:#999; text-align:center"}).get_text().strip("Last updated: ")
last_updated = parse(last_updated, fuzzy=True)
last_updated = last_updated.replace(tzinfo=timezone.utc).astimezone(tz=None)

In [9]:
header = soup.find_all("th")
table = soup.find_all("td")

In [10]:
headers = []
for i in range(len(header)):
    headers.append(header[i].get_text().strip())

In [11]:
corona_data = pd.DataFrame(columns=headers)

In [12]:
rows = int(len(table)/len(header))
cols = int(len(table))

In [13]:
values = []
for i in range(cols):
    values.append(table[i].get_text().strip())

In [14]:
for i in range(rows):
    corona_data.loc[len(corona_data)] = values[i*9:(i+1)*9]

In [15]:
corona_data.set_index(headers[0], inplace=True)

In [16]:
corona_data = corona_data.replace('[\+]', '', regex=True)
corona_data = corona_data.replace(',', '', regex=True)

In [17]:
corona_data.apply(pd.to_numeric)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop
"Country,Other",,,,,,,,
China,80880,36.0,3213.0,14.0,67769.0,9898,3226.0,56.2
Italy,24747,NaN,1809.0,NaN,2335.0,20603,1672.0,409.3
Iran,13938,NaN,724.0,NaN,4590.0,8624,NaN,165.9
Spain,8744,756.0,294.0,NaN,517.0,7933,272.0,187.0
S. Korea,8236,74.0,75.0,NaN,1137.0,7024,59.0,160.6
...,...,...,...,...,...,...,...,...
Suriname,1,NaN,NaN,NaN,NaN,1,NaN,NaN
Eswatini,1,NaN,NaN,NaN,NaN,1,NaN,0.9
Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.1
U.S. Virgin Islands,1,NaN,NaN,NaN,NaN,1,NaN,NaN
Total:,171881,2331.0,6526.0,21.0,77781.0,87574,5927.0,22.1

In [18]:
corona_csv = corona_data.to_csv(r"C:\Users\dsaraph\OneDrive - Capgemini\data-science\data.csv", index=True)

In [19]:
last_updated

datetime.datetime(2020, 3, 16, 10, 55, tzinfo=tzutc())

In [20]:
corona_excel = corona_data.to_excel(r"C:\Users\dsaraph\OneDrive - Capgemini\data-science\data.xlsx", sheet_name='Data')

In [53]:
import openpyxl
wb = openpyxl.load_workbook(r'C:\Users\dsaraph\OneDrive - Capgemini\data-science\data.xlsx')

In [54]:
wb1 = wb["Last Updated"]

In [55]:
wb1['A1']="Last Updated"

In [56]:
wb1['A2']= last_updated

In [57]:
wb.save(r'C:\Users\dsaraph\OneDrive - Capgemini\data-science\data.xlsx')

In [45]:
last_updated = last_updated.replace(tzinfo=timezone.utc).astimezone(tz=None)

In [52]:
last_updated

datetime.datetime(2020, 3, 16, 16, 25, tzinfo=datetime.timezone(datetime.timedelta(seconds=19800), 'India Standard Time'))