In [1]:
import requests
from time import sleep
from matplotlib import pyplot as plt
from bs4 import BeautifulSoup
from dateutil.parser import parse
import pandas as pd

In [2]:
URL = "https://www.worldometers.info/coronavirus"

In [3]:
headers = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36"}
page = requests.get(URL, headers=headers)
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
cases = int(soup.find_all("div",{"class":"maincounter-number"})[0].span.get_text().strip().replace(",",""))
deaths = int(soup.find_all("div",{"class":"maincounter-number"})[1].span.get_text().strip().replace(",",""))
recoveries = int(soup.find_all("div",{"class":"maincounter-number"})[2].span.get_text().strip().replace(",",""))
mild_condition = int(soup.find_all("span",{"class":"number-table"})[0].get_text().strip().replace(",",""))

In [5]:
closed_cases = recoveries + deaths

In [6]:
active_cases = cases - recoveries - deaths

In [7]:
critical = active_cases - mild_condition

In [8]:
last_updated = soup.find("div", {"style":"font-size:13px; color:#999; text-align:center"}).get_text().strip("Last updated: ")
last_updated = parse(last_updated, fuzzy=True)

In [9]:
header = soup.find_all("th")
table = soup.find_all("td")

In [10]:
headers = []
for i in range(len(header)):
    headers.append(header[i].get_text().strip())

In [11]:
corona_data = pd.DataFrame(columns=headers)

In [12]:
rows = int(len(table)/len(header))
cols = int(len(table))

In [13]:
values = []
for i in range(cols):
    values.append(table[i].get_text().strip())

In [14]:
for i in range(rows):
    corona_data.loc[len(corona_data)] = values[i*9:(i+1)*9]

In [15]:
corona_data.set_index(headers[0], inplace=True)

In [16]:
corona_data = corona_data.replace('[\+]', '', regex=True)
corona_data = corona_data.replace(',', '', regex=True)

In [17]:
corona_data.apply(pd.to_numeric)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop
"Country,Other",,,,,,,,
China,80824,11.0,3189.0,13.0,65573.0,12062,3610.0,56.2
Italy,21157,3497.0,1441.0,175.0,1966.0,17750,1518.0,349.9
Iran,12729,1365.0,611.0,97.0,4339.0,7779,NaN,151.5
S. Korea,8086,107.0,72.0,5.0,714.0,7300,59.0,157.7
Spain,6315,1083.0,193.0,60.0,517.0,5605,293.0,135.1
...,...,...,...,...,...,...,...,...
Suriname,1,NaN,NaN,NaN,NaN,1,NaN,NaN
Eswatini,1,1.0,NaN,NaN,NaN,1,NaN,0.9
Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.1
U.S. Virgin Islands,1,1.0,NaN,NaN,NaN,1,NaN,NaN
Total:,155856,10385.0,5814.0,398.0,74438.0,75604,5908.0,20.0